{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
{% load tags %}
{% load crispy_forms_tags %}
{% published as pub %}
    <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 alert alert-success">
                <div class="d-flex align-items-center pb-2">
                  <div class="bg-danger mr-2"></div>

                    <br/>
                    <br/>
                </div>
                <h5 class="" style="font-size:14px;">HONGERA UCHAGUZI UMEISHA</h5>

          </div>



        </div>
      </div>
    </div>
 </div>


{% endblock %}