
<!doctype html>
<html lang="en">
    {% load static %}

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Uchaguzi</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{logo_url}}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/login/css/bootstrap.min.css' %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'assets/login/css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'assets/login/css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'assets/login/css/responsive.css' %}">
      <link rel="stylesheet" href="{% static 'assets/login/css/mystyles.css' %}">

      <link rel="stylesheet" href="{% static 'assets/login/css/flatpickr.min.css' %}">

   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-page">
          <div id="container-inside">
            <div class="container p-0">
                <div class="row no-gutters justify-content-center height-self-center">
                  <div class="col-sm-4 center align-self-center bg-white rounded">
                    <div class="row m-0">
                      <div class="col-md-12 bg-white sign-in-page-data">
                          <div class="sign-in-from">
                           <center> <img class="float-center " src="{% static 'login/uchaguzu.jpg' %}" style="width: 40%;"></center>
                              <center><div class="header">
                                  <h4>{{user.username}}-{{user.name}}</h4>
                              </div> </center>

                           {% if error %}
                           <div class="alert alert-danger" role="alert">
                              <div class="iq-alert-icon">
                                <i class="ri-information-line"></i>
                             </div>
                             <div class="iq-alert-text">{{error}}</div>
                          </div>
                              {% endif %}


                          </div>
                              <form action="" method="post" class="mt-4">
                                {% csrf_token %}
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Weka OTP ulipokea</label>
                                      <input type="text" class="form-control mb-0" id="id_auth_code" name="auth_code" value="{% if form.auth_code.value %}{{form.auth_code.value}}{% endif %}" placeholder="" style="border-color:#000;">
                                      <span class="text-danger" id="wrongOTP"></span>
                                  </div>
                                  <div class="sign-info text-center" style="padding:20px;">
                                      <div class="row">
                                          <div class="col-md-4">
                                              <a class="btn btn-secondary" href="{% url 'mob_login_code' %}">Anza Upya</a>

                                          </div>

                                          <div class="col-md-8">
                                              &nbsp;&nbsp;<span  class="btn btn-info buttonSubmit" style="padding-right:30px;padding-left:30px;">Ingia Sasa</span>

                                          </div>
                                      </div>
                                  </div>

                                  <div class="alert alert-info">
                                        <p> <a id="otpRequest" href="" class="btn btn-info otpRequest" onclick="lateNow();countDownTimer();">Request OTP</a></p>
                                      <p>Utapokea OTP kwenye namba yako ya simu(....{{mobcode}}) iweke ndan ya sekunde  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-warning" id="idCounterId" style="font-size:25px;"></span></p>
                                  </div>



                              </form>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </section>
      <script src="{% static 'assets/login/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/login/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/login/js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'assets/login/js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'assets/login/js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'assets/login/js/waypoints.min.js' %}"></script>
      <script src="{% static 'assets/login/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'assets/login/js/wow.min.js' %}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'assets/login/js/apexcharts.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'assets/login/js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'assets/login/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'assets/login/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'assets/login/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'assets/login/js/smooth-scrollbar.js' %}"></script>
      <!-- lottie JavaScript -->
      <script src="{% static 'assets/login/js/lottie.js' %}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'assets/login/js/core.js' %}"></script>
      <!-- am charts JavaScript -->
      <script src="{% static 'assets/login/js/charts.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'assets/login/js/animated.js' %}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'assets/login/js/kelly.js' %}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'assets/login/js/maps.js' %}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'assets/login/js/worldLow.js' %}"></script>
      <!-- Raphael-min JavaScript -->
      <script src="{% static 'assets/login/js/raphael-min.js' %}"></script>
      <!-- Morris JavaScript -->
      <script src="{% static 'assets/login/js/morris.js' %}"></script>
      <!-- Morris min JavaScript -->
      <script src="{% static 'assets/login/js/morris.min.js' %}"></script>
      <!-- Flatpicker Js -->
      <script src="{% static 'assets/login/js/flatpickr.js' %}"></script>
      <!-- Style Customizer -->
      <script src="{% static 'assets/login/js/style-customizer.js' %}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'assets/login/js/chart-custom.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'assets/login/js/custom.js' %}"></script>
   <script>
       function disableHttp(){
        var link = document.getElementById('otpRequest');
        var down = document.getElementById('Blinking text');
        link.setAttribute("class", "disabled");
        link.innerHTML = '';
        link.setAttribute("style", "color: black;");


       }

       $(".buttonSubmit").click(function(){

        var formData=document.getElementById("id_auth_code").value;
        if(formData == '') document.getElementById("wrongOTP").innerHTML='Umekosea OTP code tafadhali iangalie vema';
        else document.getElementById("wrongOTP").innerHTML='';


          $.post("{% url 'mob_auth_code'  %}",
          {
            userId: "{{user.id}}",
            auth_code: formData
          },
          function(data, status){
                alert(data)
            if(parseInt(data)==100) document.getElementById("wrongOTP").innerHTML='Umekosea OTP code tafadhali iangalie vema';
            else if(parseInt(data)==11) window.location.href='{% url 'dashboard' %}';

             else if(parseInt(data)==1) window.location.href='{% url 'voting' %}';
          });
        });





        var urlLink='{% url 'test_sms' %}?userid={{user.id}}';
       function httpGet(urlLink)
            {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", urlLink, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }

      let timer = 300;
      httpGet(urlLink);


        function updatePLEASE() {
          timer--;
        }

        function countDownTimer() {
        dakika=0;
          if (timer > 0) {
          var ramiander=timer%60;
          var kamili =timer - ramiander;
          if (kamili > 0) dakika=kamili/60;

            disableHttp()
            console.log(timer);
            document.getElementById("idCounterId").innerHTML = dakika+':'+ramiander;
            updatePLEASE();
            setTimeout(countDownTimer, 1000); /* replicate wait 1 second */
          }
        }

        countDownTimer();
   </script>
   </body>
</html>
