{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
{% load tags %}
{% load crispy_forms_tags %}
{% voting_opened_for  as whichVote %}
 <div class="col-lg-7 grid-margin stretch-card">

                <div class="card">
                  <div class="card-header">
                    <div class="header"><strong>SETTINGS</strong></div>
                  </div>
                    <div class="float-right">

                      <a href="{% url 'import_board' %}" class="btn btn-primary float-right">Import</a>
                    </div>
                  <div class="card-body">

          					<h4 class="card-title">Total Votes: {% vota %}</h4>
          					<div class="table-responsive">
                              <table class="table table-bordered tbl" >
                                <thead>
                                 <tr>
                                    <th colspan="2" style="width:20%;">ATTENDANCE <br/>
                                        <br/><br/>
                                        START TIME: {% if li.start_attendance_time %} {{li.start_attendance_time}}{% else %} NOTE SET{% endif %}<br/><br/>
                                        END  TIME:  {% if li.end_attendance_time %} {{li.end_attendance_time}}{% else %} NOTE SET{% endif %}<br/><br/>
                                       {% if li.end_attendance_time %} For {% if li.open_for_special_only %}ONLY SPECIAL {% else %} ALL VOTERS {% endif %}{% endif %}
                                      <br/><br/>  <a href="{% url 'set_attendance' pk=li.id %}" class="btn btn-warning">SET</a>
<BR/>
                                 <span>{% if not li.stopAttendance %} ALLOWED ATTENDANCE {% else %} STOPPED ATTENDANCE {% endif %}
                                     <br>
                                     Tunachagua: {{whichVote}}

                                 </tr>
                                 <tr><th><br/><br/></th></tr>
                                <tr style="background-color:#e5e5e5;">
                                    <th colspan="2" style="width:20%;">CURRENT VOTING:<span class="badge badge-outline-warning">{% if  li.open_voting_for %} {{li.open_voting_for}} {% endif %}</span>  <br/>
                                        <br/><br/>
                                        START TIME: {% if li.voting_start_time %} {{li.voting_start_time}}{% else %} NOTE SET{% endif %}<br/><br/>
                                        END  TIME:  {% if li.voting_end_time %} {{li.voting_end_time}}{% else %} NOTE SET{% endif %}<br/><br/>
                                        <span>VOTING FOR: </span>{% if  li.open_voting_for %} {{li.open_voting_for}} {% endif %}
                                    <br/><br/>  <a href="{% url 'set_time' pk=li.id %}" class="btn btn-warning">SET</a>
                                    </th>
                                  </tr>



                                </thead>

                              </table>
          					</div>
                  </div>
                </div>
              </div>


{% endblock %}