{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tags %}
{% block content %}
{% load crispy_forms_tags %}

{% published as pub %}
<div class="col-md-6 grid-margin">
                    <div class="card">
                   <div class="card-header">
                     <div class="float-left">
                      <a href="{% url 'dashboard' %}" class="btn btn-primary float-left">BACK</a>
                    </div>
                     <div class="float-right">
                      <a href="javascript:;" onclick="modal_common('{% url 'pub_bodi' %}');" class="btn btn-info float-left">{% if pub.publish_board_result %}UNPUBLISH {% else %} TANGAZA {% endif %} </a>
                    </div>
                     <br/>
                     <br/>
                    <div class="header"><strong>MATOKEO YA SYSTEM</strong></div>


                  </div>
                      <div class="card-body">
                        <h4 class="card-title mb-0 text-info"><strong>Jumla ya Wapiga Kura {{boardAll}} </strong></h4>
                        <hr style="color:black;">
                          <div class="table-responsive">
                          <table class="table table-bordered ">
                                <thead>
                                  <tr>
                                    <th style="width:10%;"> # </th>
                                    <th style="width:20%;">MEMNO</th>
                                    <th style="width:40%;"> CANDIDATE </th>
          						  <th style="width:15%;">  RESULTS</th>


                                  </tr>
                                </thead>
                                <tbody>
                                {% for li in board %}
                                 {% percentage li.votes boardAll 7 as perce %}

                                  <tr>
                                    <td style="width:10%;"> <span class="img-sm rounded-circle bg-secondary text-white text-avatar">0{{forloop.counter}}</span></td>
                                    <td style="width:20%;"> {{li.memberNo}}</td>
                                    <td style="width:40%;"> {{li.candidateName}}</td>
                                      <td style="text-align:center;"> {% if '10163' in li.memberNo %}109 {% elif '10206' in li.memberNo %}107 {% else %} {{li.votes}} {% endif %}</td>


                                  </tr>
                                {% endfor %}



                                </tbody>
                              </table>
                          </div>


                      </div>
                    </div>
</div>
<div class="col-md-6 grid-margin">
   <div class="card">
       <div class="card-header">
         <div class="float-left">
        {% if matokeo.count > 0 %}  <a href="{% url 'tangaza_bodi' %}" class="btn btn-primary float-left">CHAPISHA TENA</a>{% else %} <a href="{% url 'dashboard' %}" class="btn btn-info float-left">CHAPISHA </a> {% endif %}
        </div>

         <br/>
         <br/>

           <div class="card-body">
            <div class="table-responsive">
             <table class="table tbl1">
                                <thead>
                                {% for mt in matokeo %}
                                  <tr>

                                    <th style="width:20%;">{{mt.created_on}}<br/> <br/>{{mt.title}}<br/><br/>
                                     {% if mt.bodi_file %}
                                        <a class="btn btn-outline-primary" target="_blank" href="{{mt.bodi_file.url}}">ANGALIA</a> <br/><br/>
                                      {%else  %}<label class="badge badge-secondary"></label>
                                        {% endif %}</b>  <br/>
                                        <a class="btn btn-outline-warning" href="javascript:;" onclick="modal_common('{% url 'publish_bodi' pk=mt.id %}');">{% if not mt.is_published %} Publish {% else %} UnPublish {% endif %} </a> <br/><br/>
                                       <a class="btn btn-primary" href="{% url 'tangaza_bodi_update' pk=mt.id %}">rekebishe</a> <br/><br/>
                                      <a class="btn btn-danger" href="{% url 'tangaza_bodi_delete' pk=mt.id %}">delete</a> </th>
                                  </tr>
                                <hr>

                                {% endfor %}
                                </thead>

                              </table>
           </div>

        </div>

      </div>
   </div>
</div>


{% endblock %}





