{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tags %}
{% block content %}
{% load crispy_forms_tags %}
{% published as pub %}
<div class="col-md-12">
     <div class="float-right">
          <a  href="javascript:;" onclick="modal_common('{% url 'pub_chair' %}');" class="btn btn-info float-left">{% if pub.publish_chair_result %}UNPUBLISH {% else %} TANGAZA {% endif %} </a>

     </div>
    <div class="float-left">
                      <a href="{% url 'dashboard' %}" class="btn btn-primary float-left">BACK</a>
    </div>
</div>
<div class="col-md-12 grid-margin">
   <div class="card">
       <div class="card-header">
         <div class="float-left">
        {% if matokeo.count > 0 %}  <a href="{% url 'tangaza_mwenyekiti' %}" class="btn btn-primary float-left">TANGAZA TENA</a>{% else %} <a href="{% url 'tangaza_mwenyekiti' %}" class="btn btn-info float-left">TANGAZA </a> {% endif %}
        </div>

         <br/>
         <br/>

           <div class="card-body">
            <div class="table-responsive">
             <table class="table tbl1">
                                <thead>
                                {% for mt in matokeo %}
                                  <tr>

                                    <th style="width:20%;">{{mt.created_on}}<br/> <br/>{{mt.title}}<br/><br/>
                                     {% if mt.kamati_file %}
                                        <a class="btn btn-outline-primary" target="_blank" href="{{mt.kamati_file.url}}">ANGALIA</a> <br/><br/>
                                      {%else  %}<label class="badge badge-secondary"></label>
                                        {% endif %}</b>  <br/>
                                        <a class="btn btn-outline-warning" href="javascript:;" onclick="modal_common('{% url 'publish_bodi' pk=mt.id %}');">{% if not mt.is_published %} TANGAZA {% else %} USITANGAZE {% endif %} </a> <br/><br/>
                                       <a class="btn btn-primary" href="{% url 'tangaza_kamati_update' pk=mt.id %}">rekebishe</a> <br/><br/>
                                      <a class="btn btn-danger" href="{% url 'tangaza_kamati_delete' pk=mt.id %}">delete</a> </th>
                                  </tr>
                                <hr>

                                {% endfor %}
                                </thead>

                              </table>
           </div>

        </div>

      </div>
   </div>
</div>



            <div class="col-md-6 grid-margin">
                    <div class="card">
                   <div class="card-header">

                    <div class="header"><strong>MATOKEO YA UCHAGUZI WA MWENYEKITI</strong></div>


                  </div>
                      <div class="card-body">
                        <h4 class="card-title mb-0 text-info"><strong>Jumla ya Wapiga Kura {{chairCount}} </strong></h4>
                        <hr style="color:black;">
                          <div class="table-responsive">
                          <table class="table table-bordered tblorder">
                                <thead>
                                  <tr>
                                    <th style="width:20%;">MEMNO</th>
                                    <th style="width:40%;"> CANDIDATE </th>
          						  <th style="width:15%;">  RESULTS</th>


                                  </tr>
                                </thead>
                                <tbody>
                                {% for li in chairs %}


                                  <tr>

                                      <td style="width:20%;"> {{li.memberNo}}</td>
                                    <td style="width:40%;"> {{li.candidate_name|upper}}</td>
                                      <td style="text-align:center;">{% chair_votes li.id as votes %}{{votes}}</td>


                                  </tr>
                                {% endfor %}



                                </tbody>
                              </table>
                          </div>


                      </div>
                    </div>
            </div>

<!--MAKAMU MWENYEKIKIT-->
                <div class="col-md-6 grid-margin">
                    <div class="card">
                   <div class="card-header">


                     <br/>
                     <br/>
                    <div class="header"><strong>MAKAMU MWENYEKITI</strong></div>


                  </div>
                      <div class="card-body">
                        <h4 class="card-title mb-0 text-info"><strong>Jumla ya Wapiga Kura {{viseCount}}  </strong></h4>
                        <hr style="color:black;">
                          <div class="table-responsive">
                           <table class="table table-bordered tblorder">
                                <thead>
                                  <tr>

                                    <th style="width:20%;">MEMNO</th>
                                    <th style="width:40%;"> CANDIDATE </th>
          						  <th style="width:15%;">  RESULTS</th>


                                  </tr>
                                </thead>
                                <tbody>
                                {% for li in vise %}


                                  <tr>

                                    <td style="width:20%;"> {{li.memberNo}}</td>
                                    <td style="width:40%;"> {{li.candidate_name|upper}}</td>
                                      <td style="text-align:center;">{% vise_votes li.id as vites %}{{vites}}</td>


                                  </tr>
                                {% endfor %}



                                </tbody>
                              </table>
                          </div>


                      </div>
                    </div>
                </div>


{% endblock %}


